mixin tile_2_2(img, title, hash, desc, linkText)
    .c-tile.c-tile__2-2
        img.c-tile__title-img.c-tile__title-img--2-2(src=img alt="")
        h3.c-tile__title.text-black= title
        p.c-title__hash= hash
        p.c-title__desc.text-black= desc
        a.c-tile__read-link(href="#")= linkText