mixin portfolio_item(data)
    .portfolio-slider-ajax-wrap
        ul.portfolio-slider-ajax.bxslider
            li
                img(src='#{data.imageSrc}')
            li
                img(src='#{data.imageSrc}')
            li
                img(src='#{data.imageSrc}')
    h3.project-title #{data.title}
    p #{data.description}
    ul.project-details
        li
            #{data.author}
