mixin calendar_cell(month, date, desc, doubleDate, date1, date2, month1, month2 )
    .c-calendar__cell
        .c-calendar__cell-date
            if doubleDate
                .c-calendar__date-block
                    p.c-calendar__cell-num= date1
                    p.c-calendar__cell-month= month1
                .c-calendar__date-block
                    p.c-calendar__cell-num= date2
                    p.c-calendar__cell-month= month2
            else
                p.c-calendar__cell-num= date
                p.c-calendar__cell-month= month
        .c-calendar__cell-desc
            p.c-calendar__cell-text= desc

mixin calendar(type)
    if type == 'work'
        div(class='c-calendar c-calendar--' + type)
            .c-calendar__header-grid
                .c-calendar__header
                    a.c-calendar__prev.c-calendar__nav(href="#")
                    a.c-calendar__next.c-calendar__nav(href="#")

            .c-calendar__slider
                .c-calendar__item
                    .c-calendar__title
                        p.c-calendar__title-year 2016
                        p.c-calendar__title-month апрель
                    +calendar_cell(
                        'апреля',
                        '5-6',
                        'Эксперты не случайно отмечают огромный потенциал экономического роста стран Азии и Ближнего Востока, и на конгрессе Islamis Bankibg Investment Asia/Middle East Congress 2016 можно из первых рук узнать о новых предложениях исламского банкинга.')
                    +calendar_cell(
                        'апреля',
                        '8-10',
                        'На IDEM 2016 Singapore – крупнейшей в Азиатско-Тихоокеанском регионе выставке в области стоматологии – профессионалы всего мира представляют свои последние разработки.')
                    +calendar_cell(
                        'апреля',
                        '12-13',
                        'Предприниматели, инвесторы, представители крупнейших компаний и средств массовой информации собираются на двухдневную конференцию Tech in Asia, чтобы узнать о том, что нового происходит в мире стартапов.')
                    +calendar_cell(
                        'апреля',
                        '12-15',
                        'Международная выставка-ярмарка Prowine Asia не только демонстрирует широчайший спектр вин и спиртных напитков со всех континентов, но и служит отличной площадкой для обмена опытом и расширения торговых связей.')
                    +calendar_cell(
                        'апреля',
                        '12-15',
                        'Международная выставка-ярмарка Prowine Asia не только демонстрирует широчайший спектр вин и спиртных напитков со всех континентов, но и служит отличной площадкой для обмена опытом и расширения торговых связей.')
                    +calendar_cell(
                        'апреля',
                        '12-15',
                        'Торговая выставка общественного питания и гостиничных услуг FHA 2016 – профессиональная платформа для специалистов гастрономии и индустрии гостеприимства, где можно получить последнюю информацию как о продуктах питания, так и о новейших тенденциях в гостиничном бизнесе.')
                    +calendar_cell(
                        'апреля',
                        '13-15',
                        'Ведущая выставка индустрии товаров для детей и будущих мам. В этом году CBME готовится принять около 200 брендов и свыше 3000 участников со всей Юго-Восточной Азии.')
                    +calendar_cell(
                        'апреля',
                        '15-17',
                        'Крупнейшая в Азии выставка ADEX привлекает профессионалов всех профилей в области дайвинга – от производителей специализированного оборудования и туроператоров до экологов, фотографов и инструкторов водных видов спорта.')
                    +calendar_cell(
                        'апреля',
                        '15-17',
                        'Выставка Asia Expedition представляет невероятный выбор спортивно-туристической одежды и оборудования для активного отдыха, а также специальные предложения по экстремальному и экзотическому туризму.')
                    +calendar_cell(
                        'апреля',
                        '18-20',
                        'Конференция GFMI – это прекрасная возможность познакомиться с новейшими финансовыми и инвестиционными инструментами управления ликвидностью для работы на глобальных финансовых рынках.')
                    +calendar_cell(
                        'апреля',
                        '19-22',
                        'Предоставляя площадку более чем 200 экспонентам и привлекая свыше 8000 посетителей со всего мира, выставка Cards & Paymentes является крупнейшим и самым важным в регионе форумом в сфере развития карточных продуктов и платежных технологий.')
                    +calendar_cell(
                        'апреля',
                        '21-23',
                        'Международный конгресс врачей, специализирующихся на лечении онкологических заболеваний опорно-двигательной системы (Meeting of The Asia Pacific Musculoskelental Tumour Sossiety), пройдет уже в 11-й раз.')
                    +calendar_cell(
                        'апреля',
                        '21-24',
                        'На ежегодной Азиатско-Австралийской конференции RCD светила с мировыми именами и начинающие ученые встретятся, чтобы поделиться последними открытиями и разработками в области дерматологии.')
                    +calendar_cell(
                        'апреля',
                        '25-26',
                        'На cаммите IFS 2016 можно получить полное представление об инвестиционном климате и направлениях развития инвестиций в Азиатском регионе на 2016 – 2017 годы. А также узнать о последних трендах, рисках и стратегиях в сфере инвестиций.')
                    +calendar_cell(
                        'апреля',
                        '25-26',
                        'На главный форум в сфере архитектуры и гражданского строительства, ежегодную Международную выставку ACE 2016, в четвертый раз приедут ведущие архитекторы, ученые и строители всего мира, чтобы представить инновационные решения в создании инфраструктуры для новых и быстро развивающихся городов.')
                    +calendar_cell(
                        'апреля',
                        '26-28',
                        'FMSE, самая значимая отраслевая конференция в регионе, привлекает широкий спектр специалистов области управления объектами недвижимости – от общественных зданий и транспорта до туристических комплексов и систем безопасности.')
                .c-calendar__item
                    .c-calendar__title
                        p.c-calendar__title-year 2016
                        p.c-calendar__title-month май
                    +calendar_cell(
                        'мая',
                        '11',
                        'На Всемирный конгресс WCC в Сингапуре эксперты и аналитики приезжают, чтобы найти наиболее эффективные решения по обеспечению непрерывности бизнеса и антикризисному управлению.')
                    +calendar_cell(
                        'мая',
                        '25-28',
                        'Ежегодный всемирный форум ISCT впервые пройдет в Азии. Больше тысячи профессионалов обсудят последние достижения науки и технологий в области клеточной терапии.')
                    +calendar_cell(
                        'мая',
                        '30-31',
                        'Ежегодная международная конференция LRPP собирает экспертов в сфере юриспруденции и государственной политики для обсуждения ключевых вопросов обеспечения правовой защиты граждан.')
                .c-calendar__item
                    .c-calendar__title
                        p.c-calendar__title-year 2016
                        p.c-calendar__title-month июнь
                    +calendar_cell(
                        'июня',
                        '14-15',
                        'Важнейшая конференция SCAP 2016 – это встреча исследователей и практиков, которые рассмотрят самые актуальные тенденции, проблемы и их инновационные решения в области прикладной психологии.')
                    +calendar_cell(
                        'июня',
                        '22-23',
                        'Конференция Real Estate Investment World – важная деловая встреча крупных институциональных инвесторов и управляющих активами на азиатском рынке недвижимости и замечательная возможность обсудить проблемы развития бизнеса.')
                .c-calendar__item
                    .c-calendar__title
                        p.c-calendar__title-year 2016
                        p.c-calendar__title-month июль
                    +calendar_cell(
                        'июля',
                        '10-14',
                        'Два раза в год на крупнейшем форуме СleanEnviro Summit эксперты в области окружающей среды обмениваются своими достижениями и передовым опытом и демонстрируют последние технологии.')
                    +calendar_cell(
                        'июля',
                        '10-14',
                        'Международная неделя воды SIWW – всемирный форум по проблемам использования водных ресурсов. Раз в два года эксперты водного хозяйства собираются, чтобы поделиться опытом, выработать совместные решения, продемонстрировать технологические новинки и последние достижения в этой области.')
                    +calendar_cell(
                        'июля',
                        '10-14',
                        'WorldSicities Summit – уникальная платформа для политиков, практиков и ведущих экспертов в вопросах государственного управления и устойчивого развития современных городов.')
                    +calendar_cell(
                        'июля',
                        '20-21',
                        'TTA, крупнейшая в Юго-Восточной Азии встреча профессионалов индустрии туризма и развлечений, знакомит с новейшими бизнес-направлениями отрасли. В рамках ТТА также пройдет выставка аудиовизуального оборудования от PRO AVK.')
                    +calendar_cell(
                        'июля',
                        '20-21',
                        'Ведущие медики, эксперты и ученые мира приедут на 14-й конгресс урологов UAA для обсуждения ключевых для Азии достижений в этой области.')
                    +calendar_cell(
                        'июля',
                        '21-24',
                        'Международная Сингапурская ювелирная выставка SIJE привлекает внимание специалистов, байеров, дизайнеров и просто ценителей красоты со всего региона: ее масштаб и представляемые знаменитыми фирмами коллекции украшений уникальны.')
                    +calendar_cell(
                        'июля',
                        '27-29',
                        'Азиатско-Тихоокеанская конференция APEF 2016 соберет ученых, аналитиков, специалистов-практиков и студентов для обмена мнениями по самым актуальным проблемам в сфере экономики и финансов и поиска путей их возможного решения.')
                .c-calendar__item
                    .c-calendar__title
                        p.c-calendar__title-year 2016
                        p.c-calendar__title-month август
                    +calendar_cell(
                        'августа',
                        '5-6',
                        'Один из крупнейших в Азиатско-Тихоокеанском регионе медицинских форумов ASCI 2016 пройдет в десятый раз и будет посвящен новейшим исследованиям сердечно-сосудистой системы человека.')
                    +calendar_cell(
                        'августа',
                        '10-13',
                        'На научно-практической региональной конференции по гериатрии SPGC 2016 встретятся специалисты по профилактике и лечению болезней преклонного возраста.')
                    +calendar_cell(
                        'августа',
                        '22-23',
                        'Ежегодная Международная конференция BizStrategy пройдет в шестой раз и будет посвящена бизнес-стратегиям и анализу проблем защиты окружающей среды в условиях изменения климата, интенсивного энергопотребления и стремительной урбанизации населения планеты.')
                    +calendar_cell(
                        '',
                        '',
                        'Торговая выставка медицинского оборудования MEDICAL MANUFACTURING ASIA 2016 – это возможность познакомиться с новинками в области здравоохранения, а также с техническими разработками, уже завоевавшими свое место на рынках Азии, Европы и Америки. Ведущая в Азиатском регионе выставка возвращается в Сингапур и пройдет здесь в третий раз.',
                        'true',
                        '31',
                        '2',
                        'августа',
                        'сентября')
                .c-calendar__item
                    .c-calendar__title
                        p.c-calendar__title-year 2016
                        p.c-calendar__title-month сентябрь
                    +calendar_cell(
                        'сентября',
                        '6-7',
                        'Одна из самых значимых в мире сингапурская конференция Cybertech на два дня соберет лидеров IT-индустрии и экспертов, принимающих решения в области IT-технологий, инвестиций и информационной безопасности.')
                    +calendar_cell(
                        'сентября',
                        '7-9',
                        'На ежегодной специализированной торговой выставке MCE Asia более 500 компаний из 35 стран мира представят свое инновационное энергооборудование для промышленных зданий и жилых комплексов.')
                    +calendar_cell(
                        'сентября',
                        '7-9',
                        'Выставка-ярмарка BEX Asia уже стала значимой платформой для поиска и обмена опытом в сфере технологий строительства зданий и городской инфраструктуры в экологическом «зеленом» формате.')
                    +calendar_cell(
                        'сентября',
                        '16-19',
                        'Конференция SETAC соберет ученых, практиков и представителей администраций для обсуждения последних достижений, проектов и новейших технологий, связанных с защитой окружающей среды от токсичных выбросов и химических загрязнений.')
                    +calendar_cell(
                        'сентября',
                        '19-21',
                        'Гастроэнтерологи и специалисты по заболеваниям пищевода встретятся на конференции ISDE, чтобы обменяться результатами последних исследований в этой области.')
                    +calendar_cell(
                        'сентября',
                        '21-22',
                        'Узнайте о новейших продуктах и технологиях индустрии мероприятий, конгрессов и выставок, получите возможность пообщаться с коллегами по отрасли и с руководством большого числа местных и международных компаний. Все это позволит вам оставаться на вершине профессионализма.')
                    +calendar_cell(
                        'сентября',
                        '26-30',
                        'Международная конференция по токсикологии частиц IPTC признана учеными в этой области самой престижной в мире. Уже 11-я по счету, она впервые пройдет в Азии.')
                    +calendar_cell(
                        'сентября',
                        '27-29',
                        'В рамках Сингапурской недели авиации пройдет Международная азиатская выставка – ведущее для региона событие в сфере модернизации авиационной техники, где компании разных стран представят новейшие технологии и оборудование для обслуживания и сопровождения воздушного транспорта.')
                .c-calendar__item
                    .c-calendar__title
                        p.c-calendar__title-year 2016
                        p.c-calendar__title-month октябрь
                    +calendar_cell(
                        'октября',
                        '4-7',
                        'Международная выставка ювелирных изделий Jewellery & Gem Fair – одна из крупнейших в Азии и самых заметных в мире ювелирного искусства – готовится принять более 200 компаний-экспонентов.')
                    +calendar_cell(
                        'октября',
                        '13-15',
                        'Выставка франчайзинга и лицензирования Franchising & Licensing Asia открывает предпринимателям перспективы для бизнеса, предлагая возможности выхода на новые рынки, обеспечивая необходимой информацией, в том числе и по юридическим вопросам.')
                    +calendar_cell(
                        'октября',
                        '17-19',
                        'Крупнейшая в Азиатско-Тихоокеанском регионе платформа для профессионалов в области развития онлайн-туризма, конференция WIT пройдет уже 12-й раз, предлагая участникам информацию о трендах, инновационных технологиях, а также о новейших услугах авиакомпаний, отельеров и экспертов разных стран мира.')
                    +calendar_cell(
                        'октября',
                        '19-21',
                        'В работе ведущей туристической выставки ITB Asia примут участие 825 экспонентов из 73 стран мира. В деловой части программы – конференции, семинары и воркшопы, посвященные интернет-технологиям и анализу тенденций развития отрасли.')
                    +calendar_cell(
                        'октября',
                        '19-21',
                        'Международный конгресс и выставка SITCE привлекают профессионалов в сфере городского транспорта – от архитекторов и операторов интеллектуальных систем до разработчиков систем эксплуатации наземного транспорта.')
                    +calendar_cell(
                        'октября',
                        '19-21',
                        'На форуме Spectrum Futures представители лидирующих компаний в сфере телекоммуникационных и IT-технологий обсудят перспективы развития индустрии, чтобы обеспечить доступ в Интернет двум миллиардам новых пользователей по всей Юго-Восточной Азии.')
                    +calendar_cell(
                        'октября',
                        '22',
                        'На крупнейшей в Сингапуре встрече Hotel Management Summit управляющие и владельцы отелей могут обсудить важнейшие аспекты бизнеса, операционные, финансовые и кадровые проблемы, а также вопросы в сфере маркетинга и брендинга.')
                    +calendar_cell(
                        'октября',
                        '22',
                        'Представители гостиничного бизнеса Юго-Восточной Азии встречаются на единственной в регионе конференции HotelTech, чтобы обменяться опытом по вопросам повышения операционной эффективности и качества стандартов обслуживания в помощью IT-технологий.')
                .c-calendar__item
                    .c-calendar__title
                        p.c-calendar__title-year 2016
                        p.c-calendar__title-month ноябрь
                    +calendar_cell(
                        'ноября',
                        '4-6',
                        'На 6-ю Азиатско-Тихоокеанскую встречу по остеопорозу IOF приедут специалисты в области профилактики, диагностики и лечения этого заболевания, чтобы познакомиться с опытом коллег, новыми достижениями и результатами последних научных исследований.')
                    +calendar_cell(
                        'ноября',
                        '14-16',
                        'Выставка почтовых услуг и услуг экспреcc-доставки World Mail & Express Asia соберет более 150 экспонентов и операторов почтовой службы всего мира, которые рассмотрят последние тенденции электронной коммерции и представят новинки почтовой логистики, транспортировки, сортировки и хранения.')
                    +calendar_cell(
                        'ноября',
                        '29-30',
                        'AETC – ежегодная Международная конференция, на которой специалисты в области образования и преподаватели различных дисциплин могут обсудить стратегию применения информационных технологий в образовании и определить пути дальнейшего сотрудничества.')
                    +calendar_cell(
                        '',
                        '',
                        'Самая известная в Азии выставка в отрасли ТЭК OSEA объединит профессионалов данной сферы для решения актуальных проблем нефтяной и газовой промышленности и пройдет уже в 21-й раз.',
                        'true',
                        '29',
                        '2',
                        'ноября',
                        'декабря')
    
    if type == 'play'
        div(class='c-calendar c-calendar--' + type)
            .c-calendar__header-grid
                .c-calendar__header
                    a.c-calendar__prev.c-calendar__nav(href="#")
                    a.c-calendar__next.c-calendar__nav(href="#")

            .c-calendar__slider
                .c-calendar__item
                    .c-calendar__title
                        p.c-calendar__title-year 2016
                        p.c-calendar__title-month апрель
                    +calendar_cell(
                        '',
                        '',
                        'Fashion Steps Out at Orchard – знаменитый и яркий марафон моды. Показы коллекций мировых брендов и молодых дизайнеров проходят под открытым небом: на подиуме, установленном прямо на перекрытой для проезда главной торговой улице Сингапура Orchard Road. При этом проводятся бесчисленные открытые мастер-классы, конкурсы, фотосессии и модные вечеринки.',
                        'true',
                        '25',
                        '8',
                        'марта',
                        'мая')
                    +calendar_cell(
                        '',
                        '',
                        'Ежегодный международный гастрономический фестиваль World Gourmet Summit представляет лучшие рестораны Сингапура, искусство ведущих шеф-поваров Юго-Восточной Азии и мастерство мировых звезд высокой кухни.',
                        'true',
                        '28',
                        '25',
                        'марта',
                        'апреля')
                    +calendar_cell(
                        'апреля',
                        '16-17',
                        'Сражение сильнейших команд мировой серии по регби-7 пройдет на новом национальном стадионе Сингапура – вершине архитектурной и технической мысли. При этом фанаты наряжаются в карнавальные костюмы – так болеть веселее, – а билеты на стадион становятся пропуском на клубные вечеринки и концерты.')
                .c-calendar__item
                    .c-calendar__title
                        p.c-calendar__title-year 2016
                        p.c-calendar__title-month май
                    +calendar_cell(
                        'мая',
                        '12-15',
                        'Ежегодный фестиваль Savour – настоящее гастрономическое приключение: можно не только отведать местных изысков и продегустировать блюда отмеченных международными наградами ресторанов, но и узнать секреты кулинарии от именитых шефов. А на рынке Jasons Gourmet Market стоит накупить свежайших продуктов, которые сюда везут со всего света.')
                    +calendar_cell(
                        'мая',
                        '21',
                        'Для буддистов Сингапура праздник Vesak Day – день радости, мира и самопознания: он означает рождение, просветление и смерть Будды. Cтатуи Будды украшают цветами, проводят особые ритуалы и церемонии, а вечером – уличные шествия со свечами.')
                .c-calendar__item
                    .c-calendar__title
                        p.c-calendar__title-year 2016
                        p.c-calendar__title-month июнь
                    +calendar_cell(
                        '',
                        '',
                        'Любая мечта шопоголика готова сбыться: в Сингапуре, знаменитом обилием фирменных магазинов, дизайнерских бутиков, брендовых салонов и торговых центров, наступает время больших распродаж!',
                        'true',
                        '3',
                        '14',
                        'июня',
                        'августа')
                .c-calendar__item
                    .c-calendar__title
                        p.c-calendar__title-year 2016
                        p.c-calendar__title-month июль
                    +calendar_cell(
                        'июля',
                        '6',
                        'В этот день праздником всепрощения, дружеского общения и вкуснейшей традиционной еды мусульмане в Сингапуре отмечают окончание священного месяца Рамадан.')
                    +calendar_cell(
                        'В течение июля',
                        '',
                        'Настоящие гонки на лодках в форме дракона, азарт болельщиков, оглушительный бой барабанов, вкуснейшие десерты, традиционные пельмени и фантастической красоты фейерверки по вечерам – лишь некоторые составляющие фестиваля лодок-драконов, который жители Сингапура с нетерпением ждут весь год.')
                    +calendar_cell(
                        '',
                        '',
                        'На ежегодный кулинарный фестиваль Singapore Food Festival (SFF) съезжаются эксперты и гурманы со всего света, чтобы отведать и научиться готовить азиатские блюда. Все рестораны, кафе и закусочные колдуют над фестивальным меню, чтобы накормить гостей и лучшей уличной едой, и шедеврами высокой азиатской кухни.',
                        'true',
                        '',
                        '',
                        'июль',
                        'август')
                .c-calendar__item
                    .c-calendar__title
                        p.c-calendar__title-year 2016
                        p.c-calendar__title-month август
                    +calendar_cell(
                        '',
                        '',
                        'Международный фестиваль искусства в Сингапуре SIFA – уникальный по сочетанию жанров и традиций арт-марафон, который принимает как шоу уличных акробатов, так и концерты известных исполнителей классической музыки, – проходит каждый год начиная с 1977-го.',
                        'true',
                        '',
                        '',
                        'август',
                        'сентябрь')
                    +calendar_cell(
                        'августа',
                        '9',
                        'Cамый важный и торжественный праздник – День независимости – жители Сингапура отмечают на улицах: город утопает в цветах национального флага и традиционных одежд гуляющих, повсюду проходят бесплатные концерты, шоу, парады, фейерверки.')
                    +calendar_cell(
                        'августа',
                        '3-31',
                        'Фестиваль голодных духов в Сингапуре проходит зрелищно и шумно: по преданию, прорвавшихся на Землю призраков нужно задобрить угощениями, карнавалами, пиротехническими шоу, а в этом сингапурцы знают толк.')
                    +calendar_cell(
                        'августа',
                        '19-27',
                        'Ночной фестиваль преображает город: световые шоу и 3D-проекции «расписывают» фасады зданий, театрализованные инсталляции, выступления артистов самых разных жанров в лучах мощных прожекторов на всю ночь превращают улицы в огромную театрально-концертную площадку.')
                .c-calendar__item
                    .c-calendar__title
                        p.c-calendar__title-year 2016
                        p.c-calendar__title-month сентябрь
                    +calendar_cell(
                        'сентября',
                        '16-18',
                        'Гран-при Сингапура – единственные в мире ночные гонки «Формулы 1». На время гоночного уикенда улицы города превращаются в скоростную трассу, освещенную ослепительными прожекторами. Кроме того, в рамках этапа по всему городу проходят сотни представлений, концертов, шоу и вечеринок с участием звезд мировой величины.')
                    +calendar_cell(
                        'сентября',
                        '12',
                        'День Hari Raya Haji, знаменующий окончание хаджа, как и во всем мире, мусульмане Сингапура начинают молитвой и размышлениями о вере и, приветствуя друг друга, благославляют праздник жертвоприношения.')
                    +calendar_cell(
                        'сентября',
                        '15',
                        'Фестиваль середины осени, который отмечается по китайскому календарю, – один из самых любимых в Сингапуре. По всему острову проходят пышные представления, ярмарки, уличные базары с традиционными лунными пряниками (мункейками), а по вечерам повсюду зажигаются тысячи фонариков разных форм и размеров.')
                .c-calendar__item
                    .c-calendar__title
                        p.c-calendar__title-year 2016
                        p.c-calendar__title-month октябрь
                    +calendar_cell(
                        'октября',
                        '23-30',
                        'Сингапур стал первым городом в Азиатско-Тихоокеанском регионе, который получил право до 2018 года проводить финальный турнир WTA. Финал тура WTA в Сингапуре – пятый по престижности турнир в женском теннисе после четырех турниров Большого шлема.')
                    +calendar_cell(
                        'октября',
                        '29',
                        'В Сингапуре тысячи семей отмечают Deepavali – древний индийский праздник победы добра над злом, света над тьмой. В этот день дома индусов украшаются цветами и обрядовыми рисунками, наполняются светом традиционных светильников и ароматами специй, а улицы расцвечиваются фонариками, гирляндами и вечерними фейерверками.')
                .c-calendar__item
                    .c-calendar__title
                        p.c-calendar__title-year 2016
                        p.c-calendar__title-month ноябрь
                    +calendar_cell(
                        'ноябрь',
                        '',
                        'Подготовка к Рождеству в Сингапуре – тоже праздник: главная торговая улица Orchard Road сияет огнями, нарядные торговые центры проводят конкурсы дизайнерских елок и готовят праздничные распродажи, повсюду открываются рождественские базары.')